.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.letter {
  transition: 0.4s;
  transform: translateX(0);
  cursor: grab;
  color: gray;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.letter:hover {
  transform: translateY(-1rem);
  background: -webkit-linear-gradient(120deg,
      hsl(19, 90%, 52%), hsl(56, 100%, 50%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mennu {
  width: 20px;
  height: 5px;
  background-color: grey;
  margin: 3px 0;
}